
.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 20px;
  height: 100vh;

  &__header {
      height: 10%;
  }

  &__body {
      display: flex;
      flex-direction: row;
      height: 70%;
      border-radius: 10px;
      margin: auto;

      &-canvas {
        text-align: center;
        width: 50%;
      }

      &-controls {
        width: 50%;
      }
  }

  &__footer {
      height: 10%;
  }
}